@import 'vars';

/*
Please note this uses @import see https://sass-lang.com/documentation/at-rules/import
This is because Koala doesn't support the @use feature of Sass
*/

h1,h2,h3{
  font-family:$main-font;
}

a{
    color:$main-colour;
    text-decoration:none;
}

.border{
  border-radius:10px;
  border:1px solid;
}

%news-item{
    margin:10px;
    width:75%;
    padding:20px;
}

.news-item-left{
  @extend %news-item;
  float:left;
}

.news-item-right{
  @extend %news-item;
  float:right;
}
.contrast-link{
  color:$contrast-colour;
}

%content-block{
  padding:20px;
  border-radius:10px;
  margin:10px;
}

.contrast-block{
    background-color:$main-colour;
}

.header{
  @extend %content-block;
  text-align:center;
}
.footer{
  @extend %content-block;
}

.main-content{
  @extend %content-block;
  overflow:auto;
}
